<%- contentFor('hero')%>
<section class="hero">
	<div class="hero-content">
		<h2>Bem-vindos</h2>
		<p>Hambúrgueres saudáveis e deliciosos</p>
		
		<a href="/order" class="btn btn-lg btn-primary">Pedir!</a>
		<a href="/contact" class="btn btn-lg btn-primary">Contato!</a>

	</div>
</section>
	
<%- contentFor('body') %>
<div class="jumbotron text-center">
Em construção... 
</div>
